@import url(https://fonts.googleapis.com/css2?family=Rubik:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Rubik', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    font-family: 'Rubik', sans-serif;
    background:  #F6F6F6;
}
.navbar{
    background:  #F6F6F6;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:16px ;
    position: sticky;
    top:0;
    z-index: 999;
}
 .navbar__container{
     display: flex;
     justify-content: space-between;
     height: 80px;
     z-index: 1;
     width: 100%;
     max-width: 1300px;
     margin:  0 auto;
     padding: 0 50px;
 }
 #navbar__logo {
    background-color:  #0B132A;
    background-image: linear-gradient(to top, #0B132A 0%, #0B132A 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size:20px;
    line-height: 24px;
  }
  .navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    margin-left: 171px;
  }
  .navbar__item {
    height: 80px;
    padding: 4px;
  }
  
  .navbar__links {
    color:#4F5665;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
  }
  
  
.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 7rem;
    width: 100%;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 157px;
    border: 1px solid #F53855;
    box-sizing: border-box;
    border-radius: 50px;
    outline: none;
    background: #fff;
    color:#F53855;
  }
  @media screen and (max-width: 960px) {
    .navbar__container {
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 1300px;
      padding: 0;
    }
  
    .navbar__menu {
      display: grid;
      grid-template-columns: auto;
      margin: 0;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 1;
      transition: all 0.5s ease;
      height: 50vh;
      z-index: -1;
    }
  
    .navbar__menu.active {
      background: #F6F6F6;
      top: 100%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 99;
      height: auto;
      font-size: 1rem;
    }
  
    #navbar__logo {
      padding-left: 25px;
    }
  
    .navbar__toggle .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background:#0B132A;
    }
  
    .navbar__item {
      width: 100%;
    }
  
    .navbar__links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .navbar__btn {
      padding-bottom: 1.5rem;
    }
  
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        padding: 5px 50px;
        height: 100%;
        width: 100%;
        border: 1px solid #F53855;
        box-sizing: border-box;
        border-radius: 50px;
        outline: none;
        background: #fff;
        color:#F53855;
    }
  
    #mobile-menu {
     
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
    }
  
    .navbar__toggle .bar {
      display: block;
      cursor: pointer;
    }
  
    #mobile-menu.is-active .bar:nth-child(2) {
      opacity: 0;
    }
  
    #mobile-menu.is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    #mobile-menu.is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
  .main {
    background-color:#F6F6F6;
    
  }
  
  .main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90%;
    background-color: #F6F6F6;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin-top: 50px;
    padding-right: 50px;
    padding-left: 50px;

  }
  
  .main__content {
    color: #fff;
    width: 100%;
  }.main__content h1 {
    
    width: 555px;
    height: 140px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
    color: #0B132A;
    margin-top: 4px;
   
    
  }
  
  
  .main__content p {
   
    width: 555px;
    height: 60px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    margin-top: 15px;
    margin-bottom: -20px;
  }
  
  .main__btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #F53838 0%, #F53838 100%);
    padding: 14px 32px;
    border: none;
    color: #fff;
    width: 250px;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
    left: 150px;
    margin-top: 70px; 
    margin-bottom: -90px;
    box-shadow:0 8px 10px rgb(255, 173, 173);
}


  
  .main__btn a {
   position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
  }
  .main__img--container {
    text-align: right;
 
  }
  
  

  .container{
    
    display:flex;
    flex-direction: row  ;
    justify-content: center;
    background: #F6F6F6;
    flex-basis: 100%;
    flex-wrap: wrap;
    margin-top: 130px;
    margin-bottom: 40px;
    margin-left: 0px;
    margin-right: 50px;
    
  
}
.container > div {
  box-shadow: 2px 4px 0px 0px rgba(0,0,0,.1);
  background-color: #FFFFFF;
  width: 300px;
  height: 150px;
  border-right: 2px solid  #EEEFF2;
  text-align: left;
  line-height: 75px;
  font-size: 30px;
  
  
}
.container  h1{
font-family:'Rubik', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 30px;
color: #0B132A;
background-color: #FFFFFF;

}
.container  p{

font-family: 'Rubik', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
color: #4F5665;
text-align: center;
background-color: #FFFFFF;

  }
  
  
  .about__container {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0px 50px;
    
  }
  
  .about__content {
    color: #fff;
    width: 100%;
  }
  
  .about__content h1 {

  color: #0B132A;
  margin-bottom: 3px;
  font-family: 'Rubik', sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 35px;
   line-height: 50px;
  }
  
 .about__content p {
 
font-family:'Rubik', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 27px;
color: #4F5665;
  }
  .about__img--container {
    text-align: left;

  }


 .pricing_content h1{
 
  margin-top: 148px;
  margin-left: -65px;
   text-align: center;
   font-family:'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0B132A;
 }

 
 .pricing_content p{
font-family: 'Rubik', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
text-align: center;
color: #4F5665;
   
 }
 .pricing__container{
  
  display:flex;
  flex-direction:row ;
  justify-content: center;
  flex-basis: 100%;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-top: 120px;
  margin-left: -52px;
  column-gap: 50px;

}
.pricing__container > div {
  
  width: 330px;
  height: auto;
  background-color: #FFFFFF;
  border: 2px solid #DDDDDD;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 30px; 
  text-align: center;
  align-items: center;
 
 
}
.pricing__container ul{
  background-color: #FFFFFF;
}
.pricing__container  h5{
  font-family:'Rubik', sans-serif;
   font-style: normal;
  font-weight: 500;
 font-size: 18px;
 line-height: 30px;
 text-align: center;
   color: #0B132A;
  background: #FFFFFF;
  margin-top: 25px;
   margin-bottom: -10px;
  }

  .pricing__container  h4{
   
  font-family: 'Rubik', sans-serif;
  font-style: normal;
 font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  background-color: #FFFFFF;

    
    }
  .pricing__container  p{
  
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 40px;
  color: #4F5665;
  text-align: left;
  background: #FFFFFF;
  margin-left: 70px;
 
 
  }
.p_btn{
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  width: 175px;
  height: 40px;
  margin-left: 75px;
  margin-top: 26px;
  margin-bottom: 50px;
  padding: 5px 5px;
   border: 2px solid #F53838;
  box-sizing: border-box;
 border-radius: 50px;
  outline: none;
  
  color:#F53855;

}
#premium{
  width: 330px;
  height: auto;
  background-color: #FFFFFF;
  border: 2px solid  #F53838;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 30px; 
  text-align: center;
  align-items: center;

}
.premium_btn{
  background-color: #F53838;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  width: 175px;
  height: 40px;
  margin-left: 75px;
  margin-top: 26px;
  margin-bottom: 50px;
  padding: 5px 5px;
   border: 2px solid #F53838;
  box-sizing: border-box;
 border-radius: 50px;
  outline: none;
  box-shadow:0 15px 10px rgba(0, 0, 0, 0.1);
  color:#FFFFFF;

}
.network__img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 160px;
}
.row{
    display:flex;
    flex-direction: row  ;
    justify-content: center;
    flex-basis: 100%;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-left: -70px;
    margin-bottom: -110px;
  
}
 .testimonial-box-container{ 
  display:flex;
  flex-direction:row ;
  justify-content: center;
  flex-basis: 100%;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-top: 20px;
  column-gap: 40px;

 }
 
 .testimonial-box-container >div{
  width: 300px;
  height: auto;
  background-color: #FFFFFF;
  border: 2px solid #DDDDDD;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 30px; 
  text-align: center;
  align-items: center;
   margin-top: 60px;

 }
 
 #first{
  width: 300px;
  height: auto;
  background-color: #FFFFFF;
  border: 2px solid  #F53838;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 30px; 
  text-align: center;
  align-items: center;
 }
 
 .profile{
  background-color: #FFFFFF;
 }
.profile img{
  margin-left: 15px;
  vertical-align: middle;
  background-color: #FFFFFF;
  margin-top: 20px;
}

.profile h4{
background-color: #FFFFFF;
font-family:'Rubik', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
display: flex;
align-items: center;
text-align: center;
color: #0B132A;
}
.profile p{
background-color: #FFFFFF;
font-family:'Rubik', sans-serif;
font-size: 14px;
color: #0B132A;
margin-bottom: 20px;
margin-left: 15px;
line-height: 30px;
margin-right: 15px;
}
.profile span{
background-color: #FFFFFF;
font-family: 'Rubik', sans-serif;
font-size: 12px;
display: flex;
margin-left:70px ;
margin-top: -20px;
color: #4F5665;
}
.reviews{
  margin-top: 8px;
background-color: #FFFFFF;
 margin-left: 210px;
}
.reviews img{
  vertical-align: middle;
  background-color: #FFFFFF;
  margin-bottom: 25px;
}
.reviews p{
  background-color: #FFFFFF;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  color: #0B132A;
  margin-bottom: -60px;
 
}

 #left{
   margin-top:auto;
   margin-bottom: auto;
   cursor: pointer;
 }
 #right{
   
  margin-top:auto;
  margin-bottom: auto;
  cursor: pointer;
}
.button1 h1{
  border-radius: 70px;
  color: #F53838;
}
.button1{
  border: 2px solid #F53838;
  box-sizing: border-box;
    width: 60px;
    height: 60px;
    box-shadow: 0px 14px 44px rgba(14, 20, 34, 0.08);
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
}
.button2{
  background: #F53838;
  border: 2px solid #F53838;
  width: 60px;
  height: 60px;
  box-shadow: 0px 14px 44px rgba(14, 20, 34, 0.08);
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
}
.button2 h1{
  background-color: #F53838;
  color: #FFFFFF;
}
.subscribe__box{
  display:flex;
  flex-direction:row ;
  justify-content: center;
  flex-basis: 100%;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-top: 125px;
  margin-left: 50px;
  margin-right: 10px;
}
.subscribe__box > div{
  width:1200px;
  height: auto;
  background-color: #FFFFFF;
  box-shadow: 7px 6px 5px 4px rgba(0,0,0,.1);
  box-sizing: border-box;
  font-size: 30px; 
  text-align: center;
  align-items: center;
   margin-top: 50px;

}
.subscribe__box h1{
font-family: 'Rubik', sans-serif;
font-style: normal;
background-color: #FFFFFF;
font-weight: 500;
font-size: 35px;
line-height: 45px;
display: flex;
align-items: left;
text-align: left;
color: #0B132A;
margin: 50px;
margin-right: 30px;
}
.subscribe__box p{
font-family:'Rubik', sans-serif;
background-color: #FFFFFF;
font-style: normal;
font-weight: normal;
font-size: 16px;
display: flex;
align-items: center;
color: #4F5665;
margin: 50px;
margin-right: 30px;
margin-top: -35px;
}
.subscribe__box button{
  font-size: 1rem;
  background-color:#F53838 ;
  padding: 15px 32px;
  border: none;
  border-radius: 10px;
  color: #fff;
  width: 250px;
  height: 50px;
  margin-top: -135px;
  margin-left: 800px;
  margin-right: 2px;
  margin-bottom: 80px;
  cursor: pointer;
  box-shadow:0 8px 20px rgb(255, 173, 173);
}



.footer__container {
  background-color: #F8F8F8;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -40px;
}



.footer__links {

  width: 100%;  
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.footer__link--wrapper {
  display: flex;
}

.footer__link--items {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}

.footer__link--items h2 {
  margin-bottom: 16px;
  width: 75px;
  height: 30px;
font-family: 'Rubik', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
  }

.footer__link--items a {
  color: #4F5665;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer__link--items a:hover {
  color: #0B132A;
  transition: 0.3s ease-out;
}


.footer__link--header h2 {
  left: 30.2%;
  right: 25.5%;
  top: 16.88%;
  bottom: 16.88%;
  
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
 
  color: #0B132A;
}
.footer__link--header p{
  width: 340px;
  height: 61.57px;
  left: 150px;
  top: 4862.01px;
  
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;

}
.footer_logo{
  margin-top: 18px;
  left: 23.49%;
  right: 50.02%;
  Width :35px;
  Height :30.23px;
}

 
